@import
 url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

 *{
     box-sizing: border-box;
     transition: all ease-in-out 250ms;
 }

 body{
     margin: 0;
     text-align: center;
     background-color: white;
 }

 h1{
     color: black;
     font-family: 'Raleway',sans-serif;
     font-size: 2rem;
 }

 @media(min-width: 60rem)
{

    h1{
        color: black;
        font-family: 'Raleway',sans-serif;
        font-size: 8.7rem;
    }
   
}

 .btn{
     font-size: 1.5rem;
     text-decoration: none;
     text-transform: uppercase;
     border-width: 2px;
     border-style: solid;
     padding: 0.5em 1.5em;
     display: inline-block;
     cursor: pointer;
     font-family: 'Raleway',sans-serif;
 }

 .btn:hover {
    background: rgb(7, 207, 7);
  }

  btn-small{
    font-size: 0.5rem;
    font-weight: 700;
}

.btn-accent{
    color:  rgb(7, 207, 7);
    border-color: rgb(7, 207, 7);
}

.btn-accent:hover,
.btn-accent:focus{
   background: rgb(7, 207, 7);
    color: #ffffff;
}

footer{
    background-color: rgb(195, 188, 188);
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}