@import
 url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

 *{
     box-sizing: border-box;
     transition: all ease-in-out 250ms;
 }

 body{
     text-align: left;
     background-color:  rgb(250, 228, 209);
     /*margin-left: 6em;*/
     /*margin-left: 0;*/
 }

 h1{
     color: rgba(126, 20, 224, 0.664);
     font-family: 'Raleway',sans-serif;
     font-size: 1.5rem;
     /*margin-top: 5em;*/
 }

 @media(min-width: 60rem)
 {
    body{
        text-align: left;
        background-color:  rgb(250, 228, 209);
        margin-left: 6em;
    }
 }

 @media(min-width: 60rem)
 {
    h1{
        color: rgba(126, 20, 224, 0.664);
        font-family: 'Raleway',sans-serif;
        font-size: 7rem;
    }
 }

 .text{
     color: rgba(126, 20, 224, 0.664);
     font-family:  'Raleway',sans-serif;
     font-size: 1em;
 }

 @media(min-width: 60rem)
 {
    .text{
        color: rgba(126, 20, 224, 0.664);
        font-family:  'Raleway',sans-serif;
        font-size: 4em;
    }
 }

 .input{
     font-size: 0.5em;
     font-family: 'Raleway',sans-serif;
     color: #282828;
     background: transparent;
     border: none;
     border-bottom-style: solid;
     border-color: rgba(77, 10, 139, 0.664);
     outline: none;
     margin-left: 0;
 }

 @media(min-width: 60rem)
 {
    .input{
        font-size: 3em;
        font-family: 'Raleway',sans-serif;
        color: #282828;
        background: transparent;
        border: none;
        border-bottom-style: solid;
        border-color: rgba(77, 10, 139, 0.664);
        outline: none;
    }
 }

 .btn{
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: 0.3em 1.2em;
    display: inline-block;
    cursor: pointer;
    font-family: 'Raleway',sans-serif;
    background: transparent;
    margin-top: 2em;
    margin-left: 0.2em;
}

@media(min-width: 60rem)
{
    .btn{
        font-size: 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        border-width: 2px;
        border-style: solid;
        padding: 0.5em 1.5em;
        display: inline-block;
        cursor: pointer;
        font-family: 'Raleway',sans-serif;
        background: transparent;
        margin-top: 2em;
        margin-left: 8em;
    }
}

.btn:hover {
   background: rgba(126, 20, 224, 0.664);
 }

 btn-small{
   font-size: 0.5rem;
   font-weight: 700;
}

.btn-accent{
   color: rgba(126, 20, 224, 0.664);
   border-color: rgba(126, 20, 224, 0.664);
}

.btn-accent:hover,
.btn-accent:focus{
   background: rgba(126, 20, 224, 0.664);
   color: #ffffff;
}

footer{
    background-color: rgba(126, 20, 224, 0.664);
    color: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}